<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container">
    <h2>About Me</h2>
    <p>Hello! My name is Yeasin Arafat. I am a professional web developer. My major is MERN.</p>
    <p>You can contact me via this email: ye******@gmail.com</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>