<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container">
    <h2>Contact</h2>
    <p>You can contact me via this email: ye******@gmail.com</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>