<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class=" container alert alert-danger" role="alert">
    <h4 class="alert-heading">OOPS! Page not found :)</h4>
    <p>Aww yeah, you successfully read this important alert message. </p>
    <hr>
    <p class="mb-0">Please try again with valid address!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>